In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as pyplot
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [3]:
file_name = "housing.csv"
data = pd.read_csv(file_name)
data.head().style.background_gradient(axis=0)